<div class="alert alert-success" role="alert" *ngIf="alert == 1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="10" height="10"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg> {{message}}</div>
<div class="alert alert-danger" role="alert" *ngIf="alert == 2">{{message}}</div>
  <app-add-user [user]="user" (userAdded)="updateUser($event)"></app-add-user>
  <hr>
  <app-add-affectation (addCompetence)="addAffectation($event)"></app-add-affectation>
  <div *ngIf="affectations.length != 0">
    <hr>
    <app-list-affectation  [affectations]="affectations" [proprety]="'competence'" (trig)="declare($event)" (updateEvent)="getDataAffectation($event)" ></app-list-affectation>
  </div>
  <div *ngIf="affectations.length != 0">
    <hr>
    <app-radar [radarChartDatasets]="radarDataSet"></app-radar>
    
  </div>
  
  
  
