<div class="row">
    <div class="col-xs-12" >
      <div *ngIf="id == undefined"><p >Add new Competence!</p></div>

      <div *ngIf="id"><h3 class="libelle"> {{competence.libelle}} details</h3></div>
      
    
      <form >
      <label>Libelle</label>
      <div *ngIf="id == undefined"><input
        type="text"
        class="form-control" [formControl]="libelle"></div>
      
        <div *ngIf="id">
          <input
          type="text"
          class="form-control"  [formControl]="libelle">
        </div>
        <div *ngIf="libelle.invalid && (libelle.touched || libelle!.dirty)">
          <div class="alerte" *ngIf="libelle!.errors!['required']">Libelle est obligatoire!</div>
          <div  class="alerte" *ngIf="libelle.errors!['minlength']">Le libelle doit contenir au moins 3 caractères!</div>
          <div  class="alerte" *ngIf="libelle!.errors!['pattern']">Le libelle doit être en alphabet seulement</div>
        </div>
        <br>
        <button class="btn btn-primary" *ngIf="id == undefined" [disabled]="libelle.invalid" (click)="addCompetence()">Add Competence</button>
        <button class="btn btn-primary" *ngIf="id">Modify Competence</button>
        </form>
        </div>
